@keyframes nav-links-fade
{
  0%{
    visibility: hidden;
    opacity: 0;
  }
  1%{
    visibility: visible;
  }
  100%{
    opacity: 1;
  }
}
/* text animations*/
@keyframes run-text {
  0%   {transform:translateY(80vh);}

  100% {transform:translateY(0vh);}

}
/* images animations*/
@keyframes run-images
{
  0%   {transform:translateX(70vh);}

  100% {transform:translateX(0vh);}

}

@keyframes btn-scale {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}