@import url('https://fonts.googleapis.com/css?family=Lora');

* {
  margin: 0; padding: 0; box-sizing: border-box; z-index: 1;
}

.container{
  background-color: rgb(255,198,138);
  font-family: 'Lora',serif;
  color: black;
}

@media (orientation: portrait) and (max-width: 736px){
  .container{
    width: 100%;
  }

  .info-section{
    height: 100%;
  }

  .info-article{
    height: 100vh;
    background-image: url("https://via.placeholder.com/375x667");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .5s ease-in-out;
  }

  .info-article.expanded{
    background-image: url("https://via.placeholder.com/300x300");
    background-position: 90% 10%;
    background-size: 60%;
    padding: 5%;
  }

  .info-article .content{
    height: 100%;
    padding-left: 7%;
  }

  .info-article .title{
    position: relative;
    top: 60vh;
    font-size: 54px;
    font-weight: bold;
    color: rgb(255,198,138);
    transition: all .5s ease-in-out;
  }

  .info-article.expanded .title{
    font-size: 36px;
    top: 20%;
    color: white;
  }

  .info-article .not-title{
    position: relative;
    top: 60vh;
    font-size: 18px;
    margin: 15px;
    color: white;
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: visibility .5s, opacity .5s ease-in-out, transform .5s;
  }

  .info-article.expanded .not-title{
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%);
  }

  .info-article .toggle-info{
    position: relative;
    top: 85vh;
    text-decoration: none;
    color: white;
    background-color: rgb(246,145,149);
    padding: 5px;
    font-size: 24px;
  }

  .info-article .toggle-info::after{
    content: 'Visa Mer';
  }

  .info-article.expanded .toggle-info{
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    border-radius: 5px;
    font-size: 18px;
    top: 5vh;
    left: 80%;
  }

  .info-article.expanded .toggle-info::after{
    content: 'Stäng';
  }

  .info-article .more-info{
    position: relative;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s;
    overflow: hidden;
  }

  .info-article.expanded .more-info{
    visibility: visible;
    opacity: 1;
    top: 25%;
  }

  .page-bar{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    opacity: .5;
  }

  .page-bar li{
    margin: 1px 5px;
    list-style-type: none;
  }

  .page-bar li::before{
    content: "• ";
    color: gray; /* or whatever color you prefer */
  }

  .page-bar li.active{
    color: red;
  }

  .page-bar li.active::before{
    color: red; /* or whatever color you prefer */
  }

  .page-bar span{
    width: 2px;
    height: 20px;
    background-color: gray;
    margin-left: 7px;
    background-size: 50%;
  }
}

@media (orientation: landscape){
  .info-section .info-article > img
  {
    position: relative;
  }
}
