@media (orientation: portrait) and (max-width: 768px){
      .content.bg-img-1{
        background-image: url("../images/Conscious_Fashion_Phone.png") !important;
      }
      .content.bg-img-2{
        background-image: url("../images/benefits_slowfashion_phone.png") !important;
      }
      .content.bg-img-3{
        background-image: url("../images/respektfullt_mode_phone_v2.png") !important;
      }
      .container
      {
        width: 100%;
      }
      .info-section
      {
        height: 100%;
      }
      .landing
      {
        height: 100vh;
        padding: 50px 75px;
        /* background-color: pink; */
      }
      .landing h2
      {
        font-weight: bold;
        font-size: 2em;
      }
      .landing p
      {
        margin-top: 30%;
        letter-spacing: 2px;
      }
      .info-article
      {
        height: 100vh;
      }
      .info-article.expanded{
        padding: 5%;
        height: 100%;
      }
      .info-article .content{
        background-image: url("https://via.placeholder.com/750x1334");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top right;
        transition: all .5s ease-in-out;
        height: 100%;
        padding: 0 7%;
      }
      .info-article.expanded .content{
        background-position: 85% 5vw;
        background-size: 45%;
        height: 100%;
        padding: 0;
      }
      .desktop-titel{
        transition: top .5s ease-in-out;
      }
      .info-article.expanded .desktop-titel{
        top: 10vh;
        margin-bottom: 75%;
      }
      .info-article .title{
        font-size: 24px;
        font-weight: bold;
        color: rgb(255,198,138);
        transition: all .5s ease-in-out;
        position: relative;
        top: 60vh;
      }
      .info-article.expanded .title{
        font-size: 36px;
        color: white;
        position: relative;
        top: 10vh;
        left: 0;
      }
      .info-article .not-title{
        font-size: 18px;
        margin: 15px;
        color: white;
        position: relative;
        top: 60vh;
      }
      .info-article.expanded .not-title{
        display: none;
      }
      .info-article .toggle-info{
        position: relative;
        text-decoration: none;
        color: white;
        background-color: rgb(246,145,149);
        padding: 5px;
        font-size: 24px;
        animation: btn-scale;
        animation-iteration-count: 1;
        animation-duration: .5s;
        animation-direction: normal;
        top: 80vh;
      }
      .info-article .toggle-info::after{
        content: 'Visa Mer';
      }
      .info-article.expanded .toggle-info{
        text-decoration: none;
        color: white;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid white;
        border-radius: 5px;
        font-size: 18px;
        animation: btn-scale;
        animation-iteration-count: 1;
        animation-duration: .5s;
        animation-direction: reverse;
        position: relative;
        top: 0;
        float: right;
      }
      .info-article.expanded .toggle-info::after{
        content: 'Stäng';
      }
      .info-article .more-info{
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s;
        display: none;
      }
      .info-article .more-info-pt2{
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s;
        display: none;
      }
      .info-article .more-info-pt3{
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s;
        display: none;
      }
      .info-article .more-info-pt4{
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s;
        display: none;
      }
      .info-article.expanded .more-info{
        visibility: visible;
        opacity: 1;
        overflow: scroll;
        display: inherit;
        text-align: center;
      }
      .info-article.expanded .more-info > *{
        margin-top: 20px;
      }
      .info-article.expanded .more-info-pt2{
        visibility: visible;
        opacity: 1;
        overflow: scroll;
        display: inherit;
        text-align: center;
      }
      .info-article.expanded .more-info-pt2 > *{
        margin-top: 20px;
      }
      .info-article.expanded .more-info-pt3{
        visibility: visible;
        opacity: 1;
        overflow: scroll;
        display: inherit;
        text-align: center;
      }
      .info-article.expanded .more-info-pt3 > *{
        margin-top: 20px;
      }
      .info-article.expanded .more-info-pt4{
        visibility: visible;
        opacity: 1;
        overflow: scroll;
        display: inherit;
        text-align: center;
      }
      .info-article.expanded .more-info-pt4 > *{
        margin-top: 20px;
      }
      .first{
        border: 3px dashed white;
        border-radius: 10px;
      }
      .first p{
        padding: 10px;
      }
      .visit{
        display: none;
      }
      .visit span{
        border-bottom: 2px solid white;
      }
      .info-article.info-article.expanded .visit{
        display: inherit;
        text-decoration: none;
        color: white;
        font-size: 1.2em;
        font-weight: bold;
      }
      .info-article .article-nav{
        display: none;
        justify-content: space-between;
        margin-top: 10px;
      }
      .info-article.expanded .article-nav{
        display: flex;
      }
      .article-nav a{
        color: white;
        text-decoration: none;
        border-bottom: 2px dashed white;
        border-radius: 5px;
        padding: 5px;
      }
    
      .info-article:nth-child(2) .article-nav{
        justify-content: flex-end;
      }
    
      .page-bar{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        opacity: .5;
      }
      .page-bar li{
        margin: 1px 5px;
        list-style-type: none;
      }
      .page-bar li::before{
        content: "• ";
        color: gray; /* or whatever color you prefer */
      }
      .page-bar li.active{
        color: red;
      }
      .page-bar li.active::before{
        color: red; /* or whatever color you prefer */
      }
      .page-bar span{
        width: 2px;
        height: 20px;
        background-color: gray;
        margin-left: 7px;
        background-size: 50%;
      }
      .desktop-img
      {
        display: none;
      }
      .info-article:not(.expanded) .desktop-img-sc
      {
        display: none;
      }
      .info-article.expanded .desktop-img-sc
      {
        display: inherit;
        position: relative;
        width: 100%;
        height: auto;
      }
    }