@import "animations.css";

*
{
  padding: 0; margin: 0;
  box-sizing: border-box;
  font-family: Arial;
}

@media (max-width: 360px)
{
  nav ul.selected
  {
    width: 100%;
  }
}

@media (max-width: 786px)
{
  nav ul
  {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 80px;
    height: 200px;
    justify-content: space-between;
    background-color: #fcfcfc;
    padding: 10px 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .5s ease-in-out;
  }
  nav a#toggle-nav
  {
    display: none;
  }

  nav ul.selected
  {
    visibility: visible;
    opacity: 1;
    color: black;
  }
}

div#margin
{
  background-color: red;
  position: relative;
}

div#margin.show
{
  height: 80px;
}

nav
{
  display: flex;
  height: 80px;
  padding: 10px;
  width: 100%;
  transition: color .5s ease-in-out, opacity .5s ease-in-out;
  background-color: #404040;
  color: white;
  z-index: 1;
}

nav div.img
{
  width: 228px;
  height: 60px;
  background-image: url('../images/thrive-logo.svg');
  background-repeat: no-repeat;
  background-position: center;
}

nav.fix
{
  position: fixed;
  background-color: #7F7F7F;
  opacity: .75;
  color: black;
  height: 40px;
  transition: height .5s ease-in-out;
}

nav.fix div.img
{
  background-image: url('../images/thrive-logo-small.svg');
  height: 30px;
  transition: height .5s ease-in-out;
}

nav.fix:hover
{
  opacity: 1;
  background-color: #404040;
  color: white;
  height: 80px;
  transition: height .5s ease-in-out;
}

nav.fix:hover div.img
{
  height: 60px;
  transition: height .5s ease-in-out;
}

nav.fix.up
{
  transform: translateY(-100%);
}

nav ul
{
  display: flex;
  align-items: center;
}

nav ul li
{
  list-style: none;
  margin: 0 20px;
}

nav a#toggle-nav
{
  text-decoration: none;
  color: black;
  position: absolute;
  right: 0;
  top: 80px;
  background-color: #7F7F7F;
  padding: 5px;
}

nav:not(.fix) a#toggle-nav
{
  display: none;
}

section h1
{
  font-family: 'Lobster', cursive;
}

section.info
{
  height: 100vh;
  background-color: #fcfcfc;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.info p
{
  width: 30%;
  height: 20%;
  opacity: 0;
  transition: opacity 2s linear ;
}
section.info p:hover
{
  opacity: 1;
}

section.clothes
{
  overflow: hidden;
  position: relative;
  height: 100vh;
  background-color: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clothes#animation p
{
  width: 30%;
  overflow: hidden;
  height:20%;
  background-color:grey ;
  animation-name:run-text;
  animation-duration: .9s;
  animation-iteration-count: 1;
  position: relative;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-fill-mode: both;
}
.clothes#animation a
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height:25%;
  background-color:black ;
  animation-name:run-images;
  animation-duration: .9s;
  animation-iteration-count: 1;
  position: relative;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-fill-mode: both;
}
