*
{
      padding: 0; margin: 0;
      box-sizing: border-box;
}

@media (max-width: 786px)
{
  nav ul
  {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 80px;
    height: 200px;
    justify-content: space-between;
    background-color: #fcfcfc;
    padding: 10px 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s ease-in-out, opacity .5s ease-in-out;
  }
  nav a#toggle-nav{
    display: none;
  }

  nav:hover ul{
    visibility: visible;
    opacity: 1;
  }
}

nav
{
    display: flex;
      height: 80px;
      padding: 10px;
      width: 100%;
      transition: all .5s ease-in-out;
      background-color: #fcfcfc;
}

nav.fix
{
      position: fixed;
      background-color: SlateGray;
      opacity: .5;
}

nav.fix:hover
{
      opacity: 1;
      background-color: #fcfcfc;
}

nav.fix.up
{
      transform: translateY(-100%);
}

nav ul
{
      display: flex;
      align-items: center;
}

nav ul li
{
      list-style: none;
      margin: 0 20px;
}

nav a#toggle-nav
{
      text-decoration: none;
      color: black;
      position: absolute;
      right: 0;
      top: 80px;
      background-color: #fcfcfc;
      padding: 5px;
}

nav:not(.fix) a#toggle-nav
{
      display: none;
}

section.info
{
      height: 100vh;
      background-color: DimGray;
      overflow-y: hidden;
}

section.info#first-section.top
{
      padding-top: 80px;
}

section.clothes
{
      height: 100vh;
      background-color: Gray;
}
