* {
  margin: 0; padding: 0; box-sizing: border-box;
}

.container{
  background-color: #FAFAFA;
  width: 100%;
}

.info-section{
  height: 100vh;
}

.info-section .info-article{
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.info-section .info-article img{
  width: 100%;
  height: auto;
  transition: all 0.5s ease-in-out;
}

.info-section .info-article.expanded img{
  width: 60%;
  height: auto;
}

.info-section .info-article .more-info{
  display: none;
  opacity: 0;
  transition: display 0s, opacity 0.5s;
}

.info-section .info-article.expanded .more-info{
  display: block;
  opacity: 1;
  transition: display 0s, opacity 0.5s;
}