* {
  margin: 0; padding: 0; box-sizing: border-box;
}

.container{
  background-color: #FAFAFA;
  width: 100%;
}

.info-section{
  height: 100vh;
}

.info-section .info-article img{
  width: 100%;
  height: auto;
  transition: all 0.5s ease-in-out;
}

.info-section .info-article.expanded img{
  width: 60%;
  height: auto;
}
